body{
    background-color: black;
    color: white;
    font-family: 'Playfair Display', serif;
}

p{
    color: red;
    font-size: 14px;
}

#missao{
    color: yellow;
    font-size: 16px;
    font-weight: 700;
}
#banner{
    width: 100%;
}

#conteudo{
    display: flex;
}
#beneficios{
    width:40%
}